/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #6990F2;
}

::selection{
  color: #fff;
  background: #6990F2;
}
.wrapper{
  width: 430px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
.wrapper header{
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.wrapper form, .download-area{
  height: 175px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #a5baec;
}

form.active{
  border: 2px dashed #6990F2;
}

form, .download-area :where(i, p){
  color: #6990F2;
}
form, .download-area > i{
  font-size: 50px;
}
form p, .download-area p{
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

form p span, .download-area p span{
  background-color: #6990F2;
  color: #fff;
  padding: 5px 10px;
}

.download-area p span a{
  color: #fff;
  text-decoration: none;
}

section .row{
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: #6990F2;
  font-size: 30px;
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: #6990F2;
  border-radius: inherit;
}
.uploaded-area{
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}

/* sharing container style */
.sharing-container {
  /* margin-bottom: 25px; */
  border-radius: 10px;
  display: none;
}

.sharing-container p {
  text-align: center;
}

.sharing-container .expire, p.expire {
  font-size: 16px;
  opacity: 0.7;
  margin: 0 0 10px 0;
}

.sharing-container .input-container {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.sharing-container .input-container input {
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 20px;
  border: 2px dashed #6990F2;
  border-radius: 6px;
  color: #607d8b;
}

.sharing-container img {
  height: 22px;
  width: 30px;
  position: absolute;
  right: 7px;
  top: 12px;
  cursor: pointer;
  background: #f5fcff;
}

.email-container form {
  border: 2px solid #6990F2;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-container,
.send-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-container label {
  /* margin: 5px; */
  font-size: 16px;
}

.email-container input {
  border: none;
  border-bottom: 2px solid #6990F2;
  height: 20px;
  font-size: 16px;
}

.email-container input:focus {
  outline: none;
}

.email-container .filed {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.send-btn-container button {
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 15px;
  background: #6990F2;
  border: none;
  color: #fff;
  cursor: pointer;
}

.toast {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translate(50%, 60px);
  padding: 10px 20px;
  background: #fff;
  color: #6990F2;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform ease-in-out 0.2s;
}

.show.toast {
  transform: translate(50%, 0);
}

@media screen and (max-width: 900px) {
  .image-vector {
    display: none;
  }
  .email-container .filed {
    flex-direction: column;
  }
  .email-container .filed {
    width: 300px;
  }
}